.portrait {
  margin: 2em 0;
  width: fit-content;
  position: relative;
  border: solid green 1px;
  text-align: center;
  // height: 18em;
  width: 16em;

  .poster {
    position: relative;

    p {
      position: absolute;
      top: 3%;
      left: 3%;
      color: white;
      padding: 0 0.5em;
      font-size: 1.5rem;
      max-width: fit-content;

      &.new {
        background-color: var(--green);
      }

      &.outOfStock {
        background-color: black;
      }
      &.sale {
        background-color: var(--danger);
      }
    }

    // height: 15em;
    // width: 12em;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .card_hover {
    position: absolute;
    top: 64%;
    display: flex;
    justify-content: center;
    height: 4em;
    width: 100%;
    overflow: hidden;

    li {
      padding: 0.5em;
      background-color: white;
      margin: 0 0.5em;
      border-radius: 50%;
      height: 2.5em;
      width: 2.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all var(--transition-time);

      &:is(:hover) {
        background-color: var(--danger);
        color: white;
      }

      svg {
        transition: all var(--transition-time);
      }

      &:is(:hover) svg {
        transform: rotateZ(360deg);
      }
    }
  }

  .info {
    font-size: 1.4rem;
    h4 {
      margin: 0.5em 0;
    }

    .rating {
      svg {
        font-size: 1rem;
        color: var(--yellow);
      }
    }
  }
}

.landscape {
  margin: 2em 0;
  width: 20em;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .poster {
    position: relative;
    height: 7em;
    width: 7em;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  .card_hover {
    position: absolute;
    top: 64%;
    left: 12%;
    display: flex;
    justify-content: center;
    height: 5em;
    width: 100%;
    overflow: hidden;

    li {
      padding: 0.5em;
      background-color: white;
      margin: -0.2em 0.5em;
      border-radius: 50%;
      height: 2em;
      width: 2em;
      display: flex;
      justify-content: center;
      cursor: pointer;
      transition: all var(--transition-time);

      &:is(:hover) {
        background-color: var(--danger);
        color: white;
      }

      svg {
        transition: all var(--transition-time);
      }

      &:is(:hover) svg {
        transform: rotateZ(360deg);
      }
    }
  }

  .info {
    margin-left: 0.5em;
    padding: 0 1em;
    flex: 1;

    .title {
      font-size: 1.2rem;
    }

    h4 {
      font-size: 1.3rem;
    }

    .rating {
      svg {
        font-size: 1rem;
        color: var(--yellow);
      }
    }
  }
}
