.whyus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3em 4.5em;
  // border: solid green 1px;

  .card {
    // border: solid red 1px;
    display: flex;
    align-items: center;
    width: max(25%, 13em);
    height: 8em;

    svg {
      font-size: 4rem;
      color: var(--red);
      margin-right: 0.5em;
    }

    .meta {
      p {
        font-size: 1.4rem;
        color: rgba(black, 0.5);
      }
    }
  }
}

@media screen and (min-width: 700px) and(max-width:1023px) {
  .whyus {
    margin: 2em;

    .card {
      align-items: start;
    }
  }
}
@media screen and (max-width: 690px) {
  .whyus {
    margin: 2em;
    .card {
      width: 100%;
      height: fit-content;
      margin: 1em 0;
    }
  }
}
