.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3em 1em;
  gap: 2em;

  h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .main {
    max-width: 20em;

    p {
      color: var(--gray);
      font-size: 1.4rem;
      margin: 1em 0;
    }

    .logo {
      flex: 0.6;
      font-family: "fancyfont";
      font-size: 2.5rem;
      line-height: 1.5em;
      cursor: pointer;
    }
    .pcards {
      display: flex;
      align-items: center;
      margin: 0.5em 0;

      img {
        margin: 0.3em;
        border-radius: 50%;
      }
    }
  }

  .quick-links,
  .accounts {
    li {
      cursor: pointer;
      color: var(--gray);
      font-size: 1.4rem;
      margin: 0.5em 0;
    }
  }

  .newsLetter {
    .inputBox {
      margin: 1.5em 0;
      position: relative;
      // border: solid green 1px;

      input {
        max-width: 20em;
        line-height: 1rem;
        padding: 0.8em;
        font-size: 1.6rem;
        text-indent: 1.5rem;
        padding-right: 7em;
        border: solid 1px #e1e1e1;
        border-radius: 100px;
        outline: none;
        font-weight: lighter;
        caret-color: rgba(black, 0.5);
      }

      button {
        // opacity: 0;
        position: absolute;
        right: 1.5%;
        top: 50%;
        transform: translateY(-50%);

        padding: 1em 1.5em;
        border-radius: 100px;
        border: none;
        outline: none;
        text-transform: uppercase;
        color: white;
        font-weight: 500;
        background-color: var(--accent);
        cursor: pointer;
      }
    }

    .social-cards {
      display: flex;
      align-items: center;
      margin: 0.5em 0;

      p {
        background-color: #e1e1e1;
        margin: 0.3em;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          margin: 0.5em;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.createdby {
  text-align: center;
}
