.collection {
  min-height: 100%;
  width: 100vw;

  position: relative;
  margin: 6em 0;
  overflow: hidden;
  height: 26em;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
  }

  .slider {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;

    .slideshow {
      overflow: hidden;

      .slideshowSlider {
        display: flex;
        align-items: center;
        white-space: nowrap;
        transition: ease 1000ms;
      }

      .slide {
        display: inline-block;
        height: 400px;
        width: 100%;
        border-radius: 40px;
      }

      .slideshowDots {
        text-align: center;
      }

      .slideshowDot {
        display: inline-block;
        height: 0.7em;
        width: 0.7em;
        border-radius: 50%;
        cursor: pointer;
        margin: 15px 7px 0px;
        background-color: #c4c4c4;
      }

      .slideshowDot.active {
        background-color: var(--accent);
      }
    }

    .item {
      margin: 2em 0;
      scroll-snap-align: start;
      text-align: center;
      min-height: 18em;
      min-width: 40.8em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      button {
        margin: 0.5em 0;
        outline: 0;
        border: 0;
        background-color: transparent;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: bolder;
        font-weight: 400;
        border-bottom: solid var(--accent) 2px;
      }
    }
  }
}
