.trending {
  margin: 2em 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .box {
    flex: 1;

    h3 {
      position: relative;
      text-transform: uppercase;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 2px;
        width: 15%;
        background-color: var(--accent);
      }
    }
  }
}

@media screen and(max-width:699px) {
  .trending {
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .trending {
    margin: 2em;
  }
}
